<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Instituto Tecnológico de Monterrey
# Ciencia y analítica de datos
# A01793599 Gustavo René Ramos Ojeda

# Módulo 4 - Notebook 4.4

<h3> Get to Know a Pandas Array </h3>

You will use the dataframe <code>df</code> for the following:

In [3]:
import pandas as pd

df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

1.  Find the unique values in column <code> 'a' </code>:

In [6]:
df["a"].unique()

array([1, 2], dtype=int64)

<details><summary>Click here for the solution</summary>

```python
df['a'].unique()
    
```

</details>

2.  Return a dataframe with only the rows where column <code> a </code> is less than two:

In [11]:
print( df[df["a"] < 2] )

   a  b
0  1  1
2  1  1

<details><summary>Click here for the solution</summary>

```python
df[df['a']<2]
    
```

</details>

<hr>

<h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>