# Instituto Tecnológico de Monterrey
# Ciencia y analítica de datos
# A01793599 Gustavo René Ramos Ojeda

# Módulo 4 - Quiz on dataframe

In [3]:
# Import pandas and fetch the file
import pandas as pd

# File TopSellingAlbums.csv is already on my repository
df = pd.read_csv("TopSellingAlbums.csv")

# Setting new data frame with just Rating column
q = df[['Rating']]
q.head()

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0

In [8]:
# Setting new dataframe in q with Released and Artist
q = df[['Released', 'Artist']]
q.head()

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf

In [12]:
# Accessing 2nd row and the 3rd column
df.iloc[1,2]

1980

In [16]:
# Convert the dataframe df to characters and assign to df_new
new_index=['a','b','c','d','e','f','g','h']

df_new = df
df_new.index = new_index

# Getting row a and column "Artist"
print( "Value from a:Artist: " + df_new.loc["a", "Artist"] )
print("\n")


# Getting from a to d in column "Artist"
df_new.loc["a":"d", "Artist"]

Value from a:Artist: Michael Jackson

a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object