In [1]:
from randomuser import RandomUser
import pandas as pd

r = RandomUser()

# GENERATING 5 USERS
some_list = r.generate_users(5)

# GENERATING 10 PHOTOS
for user in some_list:
    print (user.get_picture())

https://randomuser.me/api/portraits/men/67.jpg
https://randomuser.me/api/portraits/men/37.jpg
https://randomuser.me/api/portraits/women/52.jpg
https://randomuser.me/api/portraits/women/66.jpg
https://randomuser.me/api/portraits/men/95.jpg

In [5]:
# GENERATING A PANDA DATAFRAME WITH USERS
def get_users():
    users =[]
     
    for user in RandomUser.generate_users(10):
        users.append({"Name":user.get_full_name(),"Gender":user.get_gender(),"City":user.get_city(),"State":user.get_state(),"Email":user.get_email(), "DOB":user.get_dob(),"Picture":user.get_picture()})
      
    return pd.DataFrame(users)     


print(get_users())

                Name  Gender                  City             State  \
0     Redmar De Baar    male              Harskamp         Groningen
1    Estéban Lecomte    male              Toulouse      Val-de-Marne
2          Etta Rupp  female      Riesa-Großenhain           Sachsen
3  Glenda Montgomery  female            Kalgoorlie   New South Wales
4     Alfred Holland    male                Mobile          Kentucky
5     Patric Lecomte    male  Romanel-sur-Lausanne  Basel-Landschaft
6     Herman Perkins    male            Hervey Bay          Tasmania
7       Angel Gibson    male             Stevenage            Durham
8       Niilo Sakala    male            Lapinlahti     North Karelia
9        Romana Melo  female             Guarapari           Paraíba

                           Email                       DOB  \
0      redmar.debaar@example.com  1996-11-20T00:45:05.580Z
1    esteban.lecomte@example.com  1990-07-04T11:30:37.159Z
2          etta.rupp@example.com  1983-12-13T22:03:20.840Z
3  glenda.montgomery@example.com  1958-08-02T10:09:12.910Z
4     alfred.holland@example.com  1991-03-18T20:04:27.005Z
5     patric.lecomte@example.com  1977-11-02T03:32:54.506Z
6     herman.perkins@example.com  1957-07-28T07:45:34.171Z
7       angel.gibson@example.com  1954-10-05T04:49:56.693Z
8       niilo.sakala@example.com  1989-03-01T06:03:48.391Z
9        romana.melo@example.com  1946-08-30T16:54:21.157Z

                                            Picture
0    https://randomuser.me/api/portraits/men/34.jpg
1    https://randomuser.me/api/portraits/men/13.jpg
2  https://randomuser.me/api/portraits/women/16.jpg
3  https://randomuser.me/api/portraits/women/27.jpg
4    https://randomuser.me/api/portraits/men/49.jpg
5     https://randomuser.me/api/portraits/men/4.jpg
6    https://randomuser.me/api/portraits/men/36.jpg
7    https://randomuser.me/api/portraits/men/11.jpg
8    https://randomuser.me/api/portraits/men/35.jpg
9  https://randomuser.me/api/portraits/women/66.jpg

EXAMPLE 2 WITH FRUITVICE API

In [9]:
import requests
import json

data = requests.get("https://www.fruityvice.com/api/fruit/all")

results = json.loads(data.text)

pd.DataFrame(results)
df2 = pd.json_normalize(results)

print(df2)

cherry = df2.loc[df2["name"] == 'Cherry']
(cherry.iloc[0]['family']) , (cherry.iloc[0]['genus'])

         genus          name  id           family             order  \
0        Malus         Apple   6         Rosaceae           Rosales
1       Prunus       Apricot  35         Rosaceae           Rosales
2         Musa        Banana   1         Musaceae      Zingiberales
3        Rubus    Blackberry  64         Rosaceae           Rosales
4     Fragaria     Blueberry  33         Rosaceae           Rosales
5       Prunus        Cherry   9         Rosaceae              None
6        Durio        Durian  60        Malvaceae          Malvales
7        Ficus           Fig  68         Moraceae           Rosales
8        Ribes    Gooseberry  69  Grossulariaceae      Saxifragales
9        Vitis        Grapes  47         Vitaceae           Vitales
10       Malus    GreenApple  72         Rosaceae           Rosales
11     Psidium         Guava  37        Myrtaceae          Myrtales
12     Apteryx          Kiwi  66    Actinidiaceae  Struthioniformes
13      Citrus         Lemon  26         Rutaceae        Sapindales
14      Citrus          Lime  44         Rutaceae        Sapindales
15   Vaccinium   Lingonberry  65        Ericaceae          Ericales
16      Litchi        Lychee  67      Sapindaceae        Sapindales
17   Mangifera         Mango  27    Anacardiaceae        Sapindales
18     Cucumis         Melon  41    Cucurbitaceae     Cucurbitaceae
19      Citrus        Orange   2         Rutaceae        Sapindales
20      Carica        Papaya  42       Caricaceae         Caricacea
21  Passiflora  Passionfruit  70   Passifloraceae      Malpighiales
22       Pyrus          Pear   4         Rosaceae           Rosales
23   Diospyros     Persimmon  52        Ebenaceae           Rosales
24      Ananas     Pineapple  10     Bromeliaceae            Poales
25      Prunus          Plum  71         Rosaceae           Rosales
26       Rubus     Raspberry  23         Rosaceae           Rosales
27    Fragaria    Strawberry   3         Rosaceae           Rosales
28     Solanum        Tomato   5       Solanaceae         Solanales
29    Spondias          Umbu  73    Anacardiaceae                 0
30   Citrullus    Watermelon  25    Cucurbitaceae      Cucurbitales

    nutritions.carbohydrates  nutritions.protein  nutritions.fat  \
0                      11.40                0.30            0.40
1                       3.90                0.50            0.10
2                      22.00                1.00            0.20
3                       9.00                1.30            0.40
4                       5.50                0.00            0.40
5                      12.00                1.00            0.30
6                      27.10                1.50            5.30
7                      19.00                0.80            0.30
8                      10.00                0.90            0.60
9                      18.10                0.72            0.16
10                      3.10                0.40            0.10
11                     14.00                2.60            1.00
12                     15.00                1.10            0.50
13                      9.00                1.10            0.30
14                      8.40                0.30            0.10
15                     11.30                0.75            0.34
16                     17.00                0.80            0.44
17                     15.00                0.82            0.38
18                      8.00                0.00            0.00
19                      8.30                1.00            0.20
20                     11.00                0.00            0.40
21                     22.40                2.20            0.70
22                     15.00                0.40            0.10
23                     18.00                0.00            0.00
24                     13.12                0.54            0.12
25                     11.40                0.70            0.28
26                     12.00                1.20            0.70
27                      5.50                0.80            0.40
28                      3.90                0.90            0.20
29                      0.00                0.00            0.00
30                      8.00                0.60            0.20

    nutritions.calories  nutritions.sugar
0                    52             10.30
1                    15              3.20
2                    96             17.20
3                    40              4.50
4                    29              5.40
5                    50              8.00
6                   147              6.75
7                    74             16.00
8                    44              0.00
9                    69             15.48
10                   21              6.40
11                   68              9.00
12                   61              9.00
13                   29              2.50
14                   25              1.70
15                   50              5.74
16                   66             15.00
17                   60             13.70
18                   34              8.00
19                   43              8.20
20                   43              1.00
21                   97             11.20
22                   57             10.00
23                   81             18.00
24                   50              9.85
25                   46              9.92
26                   53              4.40
27                   29              5.40
28                   74              2.60
29                    0              0.00
30                   30              6.00

('Rosaceae', 'Prunus')

In [11]:
# NOW, GETTING HOW MANY CALORIES IN BANANA

banana = df2.loc[df2["name"] == 'Banana']

print("Calories in banana: ", banana.iloc[0]['nutritions.calories'])

Calories in banana:  96

EXERCISE 3

In [16]:
# GETTING VALUES FROM URL

myUrl='https://meowfacts.herokuapp.com/?count=3'
newData=requests.get(myUrl)

# RETRIEVING VALUES WITH JSON LOADS
results2 = json.loads(newData.text)

# CONVERTING INTO PANDAS DATAFRAME
newDF = pd.DataFrame(results2)

print(newDF)

                                                data
0  Cats that live together sometimes rub each oth...
1  The way you treat kittens in the early stages ...
2  Contrary to popular belief, the cat is a socia...